<section class="min-vh-100 gradient-custom">
    <div class="container py-5">
        <h2 class="mb-4 text-white">Add Skills for Freelancer ID: {{ freelancerId }}</h2>
        
        <div class="card bg-dark text-white p-4 mb-4">
            <h3 class="mb-3">Select Skills to Add:</h3>
            <ul class="list-group">
                <li *ngFor="let skill of availableSkills" class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white">
                    <label>
                        <input 
                            type="checkbox" 
                            class="form-check-input"
                            (change)="onSkillChange(skill.id, $event)"
                        />
                        {{ skill.name }}
                    </label>
                </li>
            </ul>            
            <button class="btn btn-primary mt-3" type="submit" (click)="addSkills()">Add Selected Skills</button>
        </div>

        <div *ngIf="availableSkills.length === 0" class="text-white-50 mt-4">
            <p>No available skills to add.</p>
        </div>

        <div class="mt-4">
            <p class="mb-0">Want to go back? <a [routerLink]="['/skills/freelancer/', freelancerId]" class="text-white-50 fw-bold">View All Skills</a></p>
        </div>
    </div>
</section>
