<section class="min-vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Client" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ client.name }}</h4>
                                <p class="text-secondary mb-1">{{ client.role }}</p>
                                <p class="text-muted font-size-sm">{{ client.companyName }}</p>
                            </div>
                        </div>
  
                        <div class="mt-4">
                            <h6 class="mb-0">Email</h6>
                            <span class="text-secondary">{{ client.email }}</span>
                            <hr>
                            <h6 class="mb-0">Contact Number</h6>
                            <span class="text-secondary">{{ client.contactNumber }}</span>
                            <hr>
                            <h6 class="mb-0">Rating</h6>
                            <span class="text-secondary">{{ client.rating }}</span>
                            <hr>
                            <h6 class="mb-0"><a [routerLink]="['/review/client', client.id]" class="text-white">Reviews Given</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  