<section class="min-vh-100 bg-light">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card llfmp-card-light shadow-lg p-4 text-center">
            
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Client" class="rounded-circle profile-img mb-3">
              <h4 class="mb-1 text-dark">{{ client.name }}</h4>
              <p class="text-secondary mb-1">{{ client.role }}</p>
              <p class="text-muted mb-0">{{ client.companyName }}</p>
            </div>
  
            <div class="mt-4 text-start">
              <div class="client-info">
                <h6 class="mb-0 text-dark">Email</h6>
                <span class="text-secondary">{{ client.email }}</span>
                <hr>
              </div>
              <div class="client-info">
                <h6 class="mb-0 text-dark">Contact Number</h6>
                <span class="text-secondary">{{ client.contactNumber }}</span>
                <hr>
              </div>
              <div class="client-info">
                <h6 class="mb-0 text-dark">Rating</h6>
                <span class="text-secondary">{{ client.rating }}</span>
                <hr>
              </div>
              <div class="client-info">
                <h6 class="mb-0 text-dark">
                  <a [routerLink]="['/review/client', client.id]" class="llfmp-btn-outline">Reviews Given</a>
                </h6>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  