<div class="min-vh-100 py-5 bg-light">
  <div class="container">
    <h2 class="mb-4 text-dark">{{ isEdit ? 'Edit Portfolio Item' : 'Create Portfolio Item' }}</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" id="title" [(ngModel)]="portfolioItem.title" name="title"
               placeholder="Title" class="form-control llfmp-input" required />
      </div>

      <div class="mb-3">
        <textarea id="description" [(ngModel)]="portfolioItem.description" name="description"
                  placeholder="Description" class="form-control llfmp-input" required></textarea>
      </div>

      <div class="mb-3">
        <input type="text" id="imageUrl" [(ngModel)]="portfolioItem.imageUrl" name="imageUrl"
               placeholder="Image URL" class="form-control llfmp-input" />
      </div>

      <button type="submit" class="llfmp-btn-lg mt-3">
        {{ isEdit ? 'Update' : 'Create' }} Portfolio Item
      </button>
    </form>
  </div>
</div>
