<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Code Sphere</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarNav"
      aria-expanded="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        @if (isSigned) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/{{auth.getUserRole() | lowercase}}/{{auth.getUserId()}}">Profile</a>
          </li>
        }
        @if (!isSigned) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/account/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/account/login">Login</a>
          </li>
        } 
        @else {
          <li class="nav-item">
            <a class="nav-link btn" (click)="logout()">Logout</a>
          </li>          
        }
      </ul>
    </div>
  </div>
</nav>
