<section class="min-vh-100 bg-light">
    <div class="container py-5">
      <div class="main-body">
        <div class="row gutters-sm">
  
          <!-- Left Sidebar -->
          <div class="col-md-4 mb-3">
            <div class="card llfmp-card-light text-center p-4">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Freelancer" class="rounded-circle profile-img mb-3" width="150">
              <h4>{{ freelancer.name }}</h4>
              <p class="text-muted mb-1">{{ freelancer.role }}</p>
            </div>
  
            <div class="card llfmp-card-light mt-3 p-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap bg-light">
                  <h6 class="mb-0">Email</h6>
                  <span class="text-secondary">{{ freelancer.email }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap bg-light">
                  <h6 class="mb-0">Rating</h6>
                  <span class="text-secondary">{{ freelancer.rating }}</span>
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Right Content -->
          <div class="col-md-8">
            <div class="card llfmp-card-light mb-3 p-4">
              
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h6><a [routerLink]="['/review/freelancer', freelancer.id]" class="text-secondary">Reviews Received</a></h6>
                <button *ngIf="auth.getUserRole() === 'Client'" (click)="onCreateReviewFromCLient()" class="btn llfmp-btn-primary btn-sm">Add Review</button>
              </div>
  
              <hr>
  
              <h6 class="mb-2">Bids</h6>
              <ul class="list-group list-group-flush mb-3">
                <li *ngFor="let bid of freelancer.bids" class="list-group-item bg-light">
                  {{ bid.projectName }} - {{ bid.amount }} USD
                </li>
              </ul>
  
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h6>Portfolio</h6>
                <button (click)="onCreatePortfolioItem()" class="btn llfmp-btn-primary btn-sm">Show Portfolio Item</button>
              </div>
              <hr>
  
              <h6 class="mb-2">Skills</h6>
              <p>
                <span *ngFor="let skill of freelancer.profile.skills" class="llfmp-badge llfmp-badge me-1">
                  {{ skill.name }}
                </span>
              </p>
              <hr>
  
              <h6 class="mb-2">Bio</h6>
              <p class="text-secondary">{{ freelancer.profile.bio }}</p>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  