<section class="min-vh-100 bg-light">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card llfmp-card-light shadow-lg p-5 text-center">
  
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Client" class="rounded-circle mb-3" width="150">
              <div>
                <h4 class="text-dark">{{ client.name }}</h4>
                <p class="text-secondary mb-1">{{ client.role }}</p>
                <p class="text-muted">{{ client.companyName }}</p>
              </div>
            </div>
  
            <div class="mt-4 text-start">
              <h6 class="mb-0">Email</h6>
              <span class="text-secondary">{{ client.email }}</span>
              <hr>
              <h6 class="mb-0">Contact Number</h6>
              <span class="text-secondary">{{ client.contactNumber }}</span>
              <hr>
              <h6 class="mb-0">Rating</h6>
              <span class="text-secondary">{{ client.rating }}</span>
              <hr>
              <h6 class="mb-0">
                <a [routerLink]="['/review/client', client.id]" class="text-secondary">Reviews Given</a>
              </h6>
            </div>
  
            <!-- Manage Buttons -->
            <div class="mt-4 d-flex justify-content-around">
              <button 
                type="button" 
                class="btn llfmp-btn-primary btn-lg" 
                (click)="editClient()"
              >
                Edit
              </button>
  
              <button 
                type="button" 
                class="btn llfmp-btn-danger btn-lg" 
                (click)="logout()"
              >
                Logout
              </button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  