<form (ngSubmit)="register()">
    <section class="min-vh-100" style="background-color: var(--light);">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-dark" style="border-radius: 1rem; background-color: white;">
              <div class="card-body p-5 text-center">
  
                <h2 class="fw-bold mb-4 text-uppercase">Register</h2>
  
                <div class="mb-4">
                  <input type="text" id="name" [(ngModel)]="user.name" name="name" required class="llfmp-input form-control-lg" placeholder="Name" />
                </div>
  
                <div class="mb-4">
                  <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" required class="llfmp-input form-control-lg" placeholder="Username" />
                </div>
  
                <div class="mb-4">
                  <input type="email" id="email" [(ngModel)]="user.email" name="email" required class="llfmp-input form-control-lg" placeholder="Email" />
                </div>
  
                <div class="mb-4">
                  <input type="password" id="password" [(ngModel)]="user.passwordHash" name="passwordHash" required class="llfmp-input form-control-lg" placeholder="Password" />
                </div>
  
                <div class="mb-4">
                  <textarea id="bio" [(ngModel)]="user.profile.bio" name="bio" class="llfmp-input form-control-lg" rows="3" placeholder="Bio"></textarea>
                </div>
  
                <button class="llfmp-btn-lg" type="submit">Register</button>
  
                <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  