<form (ngSubmit)="register()">
    <section class="min-vh-100 py-5 bg-light">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card p-4 shadow-sm" style="border-radius: 1rem; background: white;">
              <div class="card-body text-center">
  
                <h2 class="fw-bold mb-4 text-uppercase text-dark">Register</h2>
  
                <div class="mb-3">
                  <input type="text" id="name" [(ngModel)]="user.name" name="name" placeholder="Name" required class="form-control llfmp-input" />
                </div>
  
                <div class="mb-3">
                  <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" placeholder="Username" required class="form-control llfmp-input" />
                </div>
  
                <div class="mb-3">
                  <input type="email" id="email" [(ngModel)]="user.email" name="email" placeholder="Email" required class="form-control llfmp-input" />
                </div>
  
                <div class="mb-3">
                  <input type="password" id="password" [(ngModel)]="user.passwordHash" name="passwordHash" placeholder="Password" required class="form-control llfmp-input" />
                </div>
  
                <div class="mb-3">
                  <input type="number" id="hourlyRate" [(ngModel)]="user.hourlyRate" name="hourlyRate" placeholder="Hourly Rate" required class="form-control llfmp-input" />
                </div>
  
                <div class="mb-3">
                  <textarea id="bio" [(ngModel)]="user.profile.bio" name="bio" placeholder="Bio" class="form-control llfmp-input" rows="3"></textarea>
                </div>
  
                <button type="submit" class="llfmp-btn-lg mt-3">Register</button>
  
                <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  